<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello world</title>
</head>
<body>
<h1>hello world</h1>
<form action="/save-info" method="post">
    <label>姓名：<input type="text" name="name" id="name" /></label>
    <label>年龄：<input type="text" name="age" id="age" /></label>
    <label>身高：<input type="text" name="height" id="height" /></label>
    <label>体重：<input type="text" name="weight" id="weight" /></label>

    <button type="submit">提交</button>
</form>
</body>
</html>